---
permalink: "/about/"
---

<!DOCTYPE html>
<html>
	{% include cookie_notice.html %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="../css/theme.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


		<link rel="icon" type="image/ico" href="../img/favicon.ico">
		<title>omics.js</title>

		{% include ga.html %}
	</head>
	<body>
		{% include navbar.html %}
		<script src="../js/index.js"></script>

        <div class="page-content">
            <p class="large-text">
                Why do we need omics libraries in JavaScript. That is a valid question considering these sorts of things already exist in <a href="https://pythonhosted.org/pyteomics/">Python</a>, <a href="https://github.com/princelab/mspire">Ruby</a>, <a href="https://compomics.com/">Java</a>, and <a href="https://github.com/PGB-LIV/php-ms">PHP</a> just to name a few.
            </p>
        </div>

	</body>

</html>
