---
---

<!DOCTYPE html>
<html>
	{% include cookie_notice.html %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="css/theme.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>


		<link rel="icon" type="image/ico" href="img/favicon.ico">
		<title>omics.js</title>

		{% include ga.html %}
	</head>
	<body>
		{% include navbar.html %}
		<script src="js/index.js"></script>

		<div class="intro">
			<h1>omics.js</h1>
			<p class="large-text">
				Welcome to omics.js! Our purpose is to make it easy to find high quality, documented JavaScript libraries that are useful to the omics (proteomics, lipidomics, metabolomics, genomics, etc.). If there is a library that we missed, or you have a recommendation for a library that should exist, let us know on the Contribute page!
			</p>
		</div>
		<div class="card-container">
		{% for project in site.data.projects %}
			<div class="card">
				<div class="card-content">
					<h1 class="card-title">{{ project.title }}</h1>
					<h2 class="card-subtitle">{{ project.project }}</h2>
					<p class="card-description">{{ project.description }}</p>
					<a class="card-link" href={{ project.url }} target="_blank">Visit <i class="fas fa-external-link-alt"></i></a>
				</div>
			</div>
		{% endfor %}
		</div>

	</body>

</html>
